body::-webkit-scrollbar {
	display: none;
}

html {
	scroll-behavior: smooth;
}

.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

a {
	color: #1f1f1f;
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

p {
	/*margin: 0px;*/
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
}

a {
	color: #222222;
	text-decoration: none;
	outline: none !important;
}

img {
	max-width: 100%;
	height: auto;
}

a.readmore_bt {
	color: #fff;
	font-weight: 300;
	text-decoration: underline !important;
}

.relative {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.banner-main .caption h1 {
	color: #fff;
	font-size: 70px;
	line-height: 70px;
	font-weight: bold;
}

.banner-main .caption p {
	font-size: 17px;
	padding: 20px 0px 40px 0px;
}

.banner-main .caption a {
	text-transform: uppercase;
	border: #0fc690 solid 1px;
	background: #0fc690;
	width: 196px;
	padding: 12px 0;
	display: inline-block;
	font-weight: 500;
	font-size: 17px;
	line-height: 30px;
	color: #fff;
}

.banner-main .caption a:hover {
	border: #000 solid 1px;
	background: #000;
}

/** about section **/

.about {
	padding-top: 90px;
	padding-bottom: 90px;
	background: #fff;
}

.top_layer {
	position: relative;
}

.top_layer::before {
	position: absolute;
	width: 100%;
	height: 50px;
	content: "";
	background: url(../img/about-bg.png);
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-size: auto;
	height: 500px;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	top: -180px;
}

.about .titlepage {
	text-align: center;
	padding-bottom: 60px;
}

.about .titlepage h2 {
	padding: 0px 0px 6px 0px;
	font-size: 40px;
	font-weight: bold;
	color: #050303;
	line-height: 46px;
	border-bottom: #0fc690 solid 1px;
	width: 410px;
	margin: 0 auto;
	margin-bottom: 0px;
	margin-bottom: 20px;
}

.about .titlepage span {
	color: #3d3c3c;
	font-size: 17px;
	line-height: 30px;
}

.about .img-box {
	text-align: center;
}

.about .img-box figure {
	margin: 0;
	margin-bottom: 60px;
}

.about .img-box a {
	text-transform: uppercase;
	border: #000 solid 1px;
	background: #000;
	width: 206px;
	padding: 15px 0;
	display: inline-block;
	font-weight: 500;
	font-size: 17px;
	line-height: 30px;
	color: #fff;
}

.about .img-box a:hover {
	border: #0fc690 solid 1px;
	background: #0fc690;
}